.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
macos/Flutter/ephemeral/
android/.gradle/
*.iml
*.g.dart
pubspec.lock
web/sqlite3.wasm
web/drift_worker.js
